.mixin.out
config
crash-reports
defaultconfigs
downloads
logs
mods
resourcepacks
saves
.curseclient
options.txt
realms_persistence.json
usercache.json
usernamecache.json

kubejs/README.txt
kubejs/assets
kubejs/client_scripts
kubejs/exported
kubejs/startup_scripts
